{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    登录
{% endblock %}
{#{% block scripts %}#}
{#{{ super() }}#}
{#{% endblock scripts %}#}



{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning fade in">
             {{ message }}
                <button type="button" class="close" data-dismiss="alert">x</button>
             </div>
        {% endfor %}
      <h1>登录</h1>
      {{ wtf.quick_form(form) }}
    </div>
{% endblock content %}
